{{+bindTo:partials.standard_devtools_article}}
<p class="caution">
  <strong style="font-weight: normal; font-size: 110%; display:block;">The DevTools docs have moved!</strong>
  For the latest tutorials, docs and updates <a href="https://developers.google.com/web/tools/chrome-devtools">head over to the new home of Chrome DevTools</a>.
</p>

<h1>Authoring &amp; development workflow</h1>


<p>Developer workflow typically involves a number of steps used to achieve a <strong>goal</strong>.
While authoring with the DevTools, it's possible to <strong>optimize</strong> this workflow to
save time achieving common tasks, such as locating files or functions,
persisting edits to scripts or stylesheets, saving commonly used snippets or
simply rearranging the layout to better suit your needs.</p>

<p>In this section, we'll explore a number of tips to make your workflow in the
DevTools more efficient.</p>


<div class="collapsible">
<h2 id="dock-to-right">Dock-To-Right For Vertical-Split Editing</h2>

<p>You may find that docking the DevTools to the bottom of the window provides a
lot of horizontal space, but less space vertically. Dock to right allows you to
align the DevTools to the right-hand side of a window whilst keeping it
attached. This enables you to inspect the current page on the left, whilst
debugging on the right.</p>

<p>This is useful as:</p>

<ul>
<li>You may be on a widescreen monitor, wishing to maximize the space available to
inspect and debug your code</li>
<li>You can change the split to be less than 400px (the current minimum width of
Chrome) to test resizing layouts</li>
<li>Longer scripts are easier to debug with vertical space</li>
</ul>

<p>Navigate to a URL you wish to debug then toggle between
<em>dock-to-right</em> and <em>dock-to-window</em> by clicking and <strong>long-holding</strong> on the
layout icon <img src="../images/layout-button.png"/>  at the bottom left-hand corner of the DevTools.</p>

<div class="screenshot"><img src="authoring-development-workflow/chrome_docktomain.jpg"/></div>

<p class="note"><strong>Note:</strong> The DevTools will remember your last choice, so you can go back and forth
between the two most common options.</p>

<p>This will expand to display the available layout options. Once you've selected a
preference, the layout will change immediately to reflect the change.</p>


<div class="screenshot"><img src="authoring-development-workflow/chrome_docktoright.jpg"/></div>

<p class="note"><strong>Note:</strong> Each tab can have its own custom layout arrangement for the DevTools.
This means it is possible to have one tab's Tools docked to right whilst
another's is docked to the bottom of the window.</p>


</div>

<div class="collapsible">
<h2 id="search-navigate-filter">Search, Navigate And Filter</h2>

<h3 id="filter-by-filename">Filter For A Script, Stylesheet Or Snippet By Filename</h3>

<p>The ability to quickly locate a specific file can be essential to a developer's workflow. The DevTools allow you to search across all script, stylesheet and snippet files using the following shortcuts:</p>

<ul>
<li><strong><span class="kbd">Ctrl</span> + <span class="kbd">O</span> (Windows, Linux)</strong></li>
<li><strong><span class="kbd">Cmd</span> + <span class="kbd">O</span> (Mac OS X)</strong></li>
</ul>

<p>which will work regardless of the panel you are currently in. For this
<a href="http://todomvc.com/examples/angularjs/#/">Todo app</a>, using one of these
shortcuts will take us to the <em>Sources</em> panel and present us with a search box
listing all inspectable files.</p>

<div class="screenshot"><img src="authoring-development-workflow/sources_filter.jpg"/></div>

<p>From there, we can filter down to specific files (e.g. files with the word
'script' in their name) or select a file to view or edit.</p>

<div class="screenshot"><img src="authoring-development-workflow/sources_basefind.jpg"/></div>

<p class="note"><strong>Note:</strong> We support camel-case matching in all of our dialogs. E.g., to open
FooBarScript.js, you could just type FBaSc, which could save time.</p>

<h3 id="textsearch-current-file">Text Search Within The Current File</h3>

<p>Searching for a specific string within the current file can be done using the following shortcut:</p>

<ul>
<li><strong><span class="kbd">Ctrl</span> + <span class="kbd">F</span> (Windows, Linux)</strong></li>
<li><strong><span class="kbd">Cmd</span> + <span class="kbd">F</span> (Mac OS X)</strong></li>
</ul>

<p>Once a keyword has been entered into the search field, hit return to move to the
first matched result. Subsequent returns will take you to the next result and
you can also move between results using the <strong><span class="kbd">up</strong></span> and <strong><span class="kbd">down</span></strong> arrow keys as
displayed below.</p>

<div class="screenshot"><img src="authoring-development-workflow/sources_findone.jpg"/></div>

<h3 id="replacetext-current-file">Replace Text Within The Current File</h3>

<p>In addition to supporting locating text within the current file, the DevTools
also support replacing both individual and all instances of text with a new
value. Checking "Replace" will display a second input field allowing you to
specify the replacement text.</p>

<div class="screenshot"><img src="authoring-development-workflow/sources_find.jpg"/></div>

<h3 id="textsearch-across-files">Text Search Across All Files</h3>

<p>If you wish to search across all of the files loaded for a page for a particular
string, you can load up the search pane using the following shortcut:</p>

<ul>
<li><strong><span class="kbd">Ctrl</span> + <span class="kbd">Shift</span> + <span class="kbd">F</span> (Windows, Linux)</strong></li>
<li><strong><span class="kbd">Cmd</span> + <span class="kbd">Opt</span> + <span class="kbd">F</span> (Max OS X)</strong></li>
</ul>

<p>This supports both regular expressions and case sensitive search.</p>

<div class="screenshot"><img src="authoring-development-workflow/sources_findall.jpg"/></div>

<h3 id="search-regular-expression">Search Using A Regular Expression</h3>

<p>To search using a regular expression, simply type in the expression in the
Search sources field, check "Regular expression" and hit return.</p>
<div class="screenshot"><img src="authoring-development-workflow/sources_regex.jpg"/></div>

<p>Above we can see an example of how this can be done to find all results matching
content within <code>&lt;div&gt;&lt;/div&gt;</code> tags.</p>

<h3 id="filter-function-within-file">Filter For A Function Or Selector Within A File</h3>

<p>Should you require further granularity it is also possible to navigate to (or
search for) specific JavaScript functions or CSS rules within a file.</p>

<p>Navigate to a page of your choosing then go to the <em>Sources </em>panel. You can now use the following shortcuts to bring up a function/selector-specific
search box:</p>

<ul>
<li><strong><span class="kbd">Ctrl</span> + <span class="kbd">Shift</span> + <span class="kbd">O</span> (Windows, Linux)</strong></li>
<li><strong><span class="kbd">Cmd</span> + <span class="kbd">Shift</span> + <span class="kbd">O</span> (Mac OS X)</strong></li>
</ul>

<div class="screenshot"><img src="authoring-development-workflow/function_filter.png"/></div>

<p>Depending on the type of file selected you will either see all of the available
JavaScript functions or CSS declarations. Start typing in the name of a function
or declaration to filter down the list of results or simply select a result be
taken directly to where it is defined in the current file.</p>

<h3 id="search-line-number">Jump To Line Number</h3>

<p>The tools also support jumping to a specific line-number within the editor. To
launch the line number dialog, simply select a file for editing then use one of
the following keyboard shortcuts to display the line picker:</p>

<ul>
<li><strong><span class="kbd">Ctrl</span> + <span class="kbd">L</span> (Windows)</strong></li>
<li><strong><span class="kbd">Cmd</span> + <span class="kbd">L</span> (Mac OS X)</strong></li>
<li><strong><span class="kbd">Ctrl</span> + <span class="kbd">G</span> (Linux)</strong></li>
</ul>

<div class="screenshot"><img src="authoring-development-workflow/sources_line.jpg"/></div>


</div>
<div class="collapsible">
<h2 id="live-editing">Live Editing Scripts &amp; Styles</h2>

<p>The DevTools support editing both styles and scripts live, without the need for
a full page refresh. This helps when testing design changes, prototyping
JavaScript functions or snippets.</p>


<h3 id="scripts">Scripts</h3>

<p>JavaScript can be directly edited in the DevTools via the <em>Sources</em> panel. To
open up a specific script for editing, either:</p>

<p>1. Click the link to the script (e.g. <code>&lt;script src="app.js"&gt;&lt;/script&gt;</code>) in the
markup view of the <em>Elements </em>panel:</p>

<div class="screenshot"><img src="authoring-development-workflow/styles_select.jpg"/></div>

<p>2. Or select the filename of the script from <em>Sources</em> sub-panel under Sources:</p>

<div class="screenshot"><img src="authoring-development-workflow/styles_sources.jpg"/></div>

<p>This will display the syntax-highlighted source to the file in a new tab to the
right-hand side of the panel.</p>


<p>Changes to scripts are only executed at evaluation time, meaning that
modifications to code that is not running after the page loads will not have an
effect. Changes to code executed at a later stage, such as mouseover handlers or
click-event callbacks can however be changed and tested on the fly.</p>

<p>For more information about debugging JavaScript in the <em>Sources</em> panel, read our
related documentation on <a href="javascript-debugging.html">JavaScript Debugging</a>. There's also a <a href="https://www.youtube.com/watch?v=WQZio5DlSXM">short screencast showing LiveEdit and breakpoint debugging</a> to view.</p>

<p class="note"><strong>Note:</strong> A Workspaces feature for persistent editing of local files is also available. <a href="workspaces.html">Read more</a>.</p>



<h3 id="styles">Styles</h3>

<p>There is a similar workflow for editing styles. Open the DevTools and switch to the <em>Elements</em> panel. On the right-hand side,
a number of sub-panels will be visible including Styles. Inspecting an element
in the page will display the list of properties in <em>Styles</em> that have been
applied to the current node, grouped by selector.</p>

<div class="screenshot"><img src="authoring-development-workflow/styles_inspect.jpg"/></div>

<p>The "element.style" section displays properties that were set through the style
attribute in the page's markup.</p>

<p>The next section is "Matched CSS Rules", which displays the selectors matching
the selected node, their properties and values as well as the filename the rule
originated from and the line number it was read from. The selector that matches
the node will be colored black whilst the others will be gray. This is of great
benefit as it makes the selectors more easily separable while reading.</p>

<p>Changing any CSS property in one of the sub-panels, such as the border or
dimensions for an element, will result in the change being instantly applied and
visible in the main browser window.</p>

<div class="screenshot"><img src="authoring-development-workflow/styles_edit.png"/></div>

<div class="screenshot"><img src="authoring-development-workflow/styles_hover.png"/></div>

<p>Going back to the "Matched CSS Rules" panel, clicking on the link to the
stylesheet next to a rule will also take you to the <em>Sources</em> panel.  The will
display the complete stylesheet and take you to the line number where the
relevant CSS rule exists.</p>

<div class="screenshot"><img src="authoring-development-workflow/matched_css.png"/></div>

<p>From here, you can make changes to the file in the same way you would a regular
text editor, except changes you make are displayed in real time.</p>


</div>
<div class="collapsible">
<h2 id="save-as">Save As</h2>

<p>Once you are happy with the changes made to your files, you can save them.</p>

<p>To do this, first make sure you are in the text editor view for the file you
modified by either locating the file manually in the left-hand sidebar under the Sources tab:</p>

<div class="screenshot"><img src="authoring-development-workflow/saveas_select.jpg"/></div>

<p>or clicking on the filename (e.g. styles.css) in the "Elements -> Styles panel"
(for SASS/CSS):</p>

<div class="screenshot"><img src="authoring-development-workflow/matched.png"/></div>

<p>Next, right-click on either the filename or inside the text editor and click
"Save As".  This will bring up a context menu allowing you to overwrite your
existing file.</p>

<div class="screenshot"><img src="authoring-development-workflow/saveas_saveas.jpg"/></div>

<p>Subsequent saves (using Save from the same menu or the <strong><span class="kbd">Ctrl</span></strong>/<strong><span class="kbd">Cmd</span></strong> + <strong><span class="kbd">S</strong></span> shortcut)
will save to the same location.</p>

<div class="screenshot"><img src="authoring-development-workflow/saveas_save.jpg"/></div>


</div>
<div class="collapsible">
<h2 id="local-modifications">Local Modifications</h2>

<p>The DevTools also maintains a revision history of all changes made to local
files. If you've edited a script or stylesheet and saved changes using the
Tools, you can right-click on a filename in Sources (or within the source area)
and select "Local modifications" to view this history.</p>

<div class="screenshot"><img src="authoring-development-workflow/saveas_localmodifications.jpg"/></div>

<p>A <em>Local modifications</em> panel will appear displaying:</p>

<ul>
<li>A diff of the changes<br/></li>
<li>The time the change was made at<br/></li>
<li>The domain under which a file was changed</li>
</ul>

<div class="screenshot"><img src="authoring-development-workflow/saveas_history.jpg"/></div>

<p>in addition to a number of links. The <em>revert </em>link will revert all of the
changes made to the file back to its original state, removing the revision
history.</p>

<div class="screenshot"><img src="authoring-development-workflow/saveas_changed.jpg"/></div>

<p><em>Apply original content</em> will effectively do the same action, but will
maintain the revision history in view in case you wish to go back to a specific
changeset.</p>

<div class="screenshot"><img src="authoring-development-workflow/saveas_changed.jpg"/></div>

<p>Finally, <em>apply revision content </em>will apply the changes for a specific revision
at a set time.</p>


</div>
<div class="collapsible">
<h2 id="snippets">Custom JavaScript Snippets</h2>

<p>Sometimes you want to be able to save smaller scripts, bookmarklets and utilities so that you’ve always got them available to you while debugging in the browser. <strong>Snippets</strong> is a new DevTools feature enabling this workflow, allowing you to create, store and run JavaScript within the  <i>Sources</i> tab. It is currently available in <a href="https://tools.google.com/dlpage/chromesxs">Chrome Canary</a>.</p>

<div class="screenshot"><img src="authoring-development-workflow/sources_hero.jpg"/></div>


<p>Some of the use-cases Snippets can help with are:</p>

  <ul>
<li><strong>Bookmarklets</strong> - all of your bookmarklets could be stored as snippets, especially those you may wish to edit.</li>
  <li><strong>Utilities</strong> - debugging helpers for interacting with the current page can be stored and debugged. A community-curated <a href="https://github.com/paulirish/devtools-addons/wiki/Snippets">list</a> of such utilities is available.</li>
  <li><strong>Debugging</strong> - Snippets offer a multi-line console with syntax-highlighting and persistence, making it convenience for debugging code that is more than a one-liner.</li>
  <li><strong>Monkey-patching code</strong> - code you wish to patch at runtime can be done through Snippets, although many times you can just live-edit code in the <i>Sources</i> tab.</li>
</ul>

<aside class="special">
  Brian Grinstead maintains a repository of useful Snippets for developers at <a href="http://bgrins.github.io/devtools-snippets/">bgrins.github.io/devtools-snippets</a>.
</aside>

<h3 id="snippets-getting-started">Getting Started
</h3>

<p>To get started with Snippets, navigate to the <em>Sources</em> tab. If you haven't been doing any other work in this tab, you will be presented with the default layout shown below.</p>

<div class="screenshot"><img src="authoring-development-workflow/sources_default.jpg"/></div>

<p>Click the layout toggle in the top left-hand corner to display extended panels.
Here you should now see <em>Sources, Content scripts</em> and a new tab, <em>Snippets.
</em>Click on it to go into <em>Snippets.</em></p>

<div class="screenshot"><img src="authoring-development-workflow/sources_expand.jpg"/></div>

<h3 id="snippets-create">Creating Snippets
</h3>

<p><em>Snippets</em> work across two panels. The panel to the left (similar to <em>Sources</em>)
is the file-list, whilst selecting a snippet file will open it in the editor to
your right. This is a very similar experience to selecting a script or
stylesheet for editing in the <em>Sources</em> tab.</p>

<div class="screenshot"><img src="authoring-development-workflow/sources_creating.jpg"/></div>

<p>A new snippet file can be created by right-clicking inside the file-list and
selecting "New".</p>

<div class="screenshot"><img src="authoring-development-workflow/snippets_new.png"/></div>

<h3 id="snippets-filenames">Snippet Filenames</h3>

<p>Snippet filenames are automatically generated, but you also have the option of
customizing these filenames as soon as your snippet has been created.</p>

<div class="screenshot"><img src="authoring-development-workflow/snippets_filename.png"/></div>

<p>Should you wish to rename the file at any time after this, simply right-click it
again in the file-list and select 'Rename'. You can also 'Remove' the snippet
should you need to.</p>

<div class="screenshot"><img src="authoring-development-workflow/snippets_remove.png"/></div>

<h3 id="snippets-editing">Editing And Executing Snippets</h3>

<p>Selecting a snippet file from the file-list opens it up in the built-in editor
to your right. Here you can write or paste any JavaScript code (i.e. your
snippet) including functions and expressions.</p>

<div class="screenshot"><img src="authoring-development-workflow/snippets_editor.png"/></div>

<p>If a filename is preceded by a *, this means that the snippet is modified and
not yet saved.</p>

<p>To run a snippet, right-click on its filename in the file-list and select "Run". Alternatively, you can hit the <strong>Run (>)</strong> button.</p>

<div class="screenshot"><img src="authoring-development-workflow/snippets_run.png"/></div>

<p>If the snippet is expected to have any console output, this will be displayed in
the console below the editor.</p>

<p class="note"><strong>Note:</strong> A keyboard shortcut is also available for easily executing a snippet - just select your snippet then use <span class="kbd">Ctrl</span>/<span class="kbd">Cmd</span> + <span class="kbd">Enter</span> to run it. This replicates the behavior of the Run (>) button - currently in the Sources console, but which will be moving into the debugger control in the near future.</p>

<div class="screenshot"><img src="authoring-development-workflow/snippets_console.png"/></div>

<p>If you instead wish to evaluate specific lines of your snippet in the console,
you can simply select these within the editor, right-click over your selection
and choose the "Evaluate in Console" option to execute. The keyboard shortcut
for this is: Ctrl + Shift + E.</p>

<div class="screenshot"><img src="authoring-development-workflow/snippets_evaluate.png"/></div>

<p>As with "Run", output of the expression can be viewed in the console below the
editor.</p>

<div class="screenshot"><img src="authoring-development-workflow/snippets_evaluated.png"/></div>

<h3 id="snippets-local-modifications">Local Modifications</a></h3>

<p>As per <em>Sources</em>, <em>Snippets</em> also support viewing local modifications made to
files with the ability to revert back to specific edit points in a revision
history.</p>

<p>Right-clicking within the editor window and selecting "Local modifications..."
after saving any changes locally will provide access to this functionality.</p>

<div class="screenshot"><img src="authoring-development-workflow/snippets_local.png"/></div>

<h3 id="snippets-more">Breakpoints, Watch Expressions And More</h3>

<p>Other features you're used to in the <em>Sources </em>panel, such as adding watch
expressions, breakpoints, scoping variables and saving files are also available
for use with <em>Snippets</em>.</p>

<p>Read the relevant documentation on the <em>Sources</em> panel for further information
about how these features may be used.</p>

<div class="screenshot"><img src="authoring-development-workflow/sources_breakpoints.jpg"/></div>

<h3 id="snippets-saving">Saving Snippets</h3>

<p>Snippets can either be saved and later accessed via the <em>Snippets</em> tab in the DevTools or exported to a new file on your system. To display save options for a Snippet, right-click within the text editor to display the editor menu.</p>

<div class="screenshot"><img src="authoring-development-workflow/snippets_contextmenu.png"/></div>

<p><em>Save</em> will persist changes to your existing snippet file, whilst <em>Save As</em> will
allow you to save the snippet to a new file in a location of your choice.</p>

<p class="note"><strong>Note:</strong> Snippets are stored in the DevTools localStorage. When performing a
Save/Save As, you can bind the snippet to the file where it should be saved like
any other script.</p>

<h3 id="snippets-navigation">Navigating Snippets</h3>

<p>Similar to scripts and stylesheets in <em>Sources</em>, <em>Snippets</em> also supports
navigating to specific snippet files, functions or line-numbers using the same
keyboard shortcuts we mentioned earlier.</p>

<div class="screenshot"><img src="authoring-development-workflow/snippet_filter.png"/></div>


</div>
<div class="collapsible">
<h2 id="resources">Resources</h2>

<ul>
<li><a href ="http://www.html5rocks.com/en/tutorials/developertools/revolutions2013/#toc-workspaces">Chrome DevTools Revolutions 2013: Workspaces</a></li>
<li><a href="http://remysharp.com/2012/12/21/my-workflow-never-having-to-leave-devtools/">My workflow: Never having to leave the DevTools | remy sharp</a></li>
<li><a href="http://www.youtube.com/watch?feature=player_detailpage&v=ktwJ-EDiZoU#t=553s">The Breakpoint With Addy Osmani And Paul Lewis - Snippets | youtube</a></li>
<li><a href="http://net.tutsplus.com/tutorials/tools-and-tips/chrome-dev-tools-javascript-and-performance/">Chrome Dev Tools: JavaScript and Performance | nettuts</a></li>
<li><a href="http://www.youtube.com/watch?v=Phw6edMppKg">Iterating with the Chrome DevTools | jeremey kahn</a></li>
</ul>

</div>
{{/partials.standard_devtools_article}}
