{{+bindTo:partials.standard_devtools_article}}
<p class="caution">
  <strong style="font-weight: normal; font-size: 110%; display:block;">The DevTools docs have moved!</strong>
  For the latest tutorials, docs and updates <a href="https://developers.google.com/web/tools/chrome-devtools">head over to the new home of Chrome DevTools</a>.
</p>

<h1>Debugging JavaScript</h1>
<p>As the <strong>complexity</strong> of JavaScript applications increase, developers need
powerful debugging tools to help quickly discover the cause of an issue and fix
it efficiently. The Chrome DevTools include a number of useful tools to help
make <strong>debugging</strong> JavaScript less painful.</p>

<p>In this section, we will walk through how to use these tools by debugging the
<a href="https://rawgit.com/google/closure-library/master/closure/goog/demos/hovercard.html">Google Closure hovercard
demo</a>
and other dynamic examples in this page.</p>

<p class="note"><strong>Note:</strong> If you are a Web Developer and want to get the latest version of
DevTools, you should use <a href="https://tools.google.com/dlpage/chromesxs">Chrome Canary</a>.</p>



<div class="collapsible">
<h2 id="sources-panel">The Sources Panel</h2>

<p>The <strong>Sources</strong> panel lets you debug your JavaScript code. It provides a
graphical interface to the <a href="https://code.google.com/p/v8/">V8</a> debugger. Follow the steps below to explore the
<strong>Sources</strong> panel:</p>

<ul>
<li>Open a site such as the <a href="https://rawgit.com/google/closure-library/master/closure/goog/demos/hovercard.html">Google Closure hovercard demo
page</a> or the <a href="http://todomvc.com/examples/angularjs/">TodoMVC</a> Angular app.</li>
<li>Open the DevTools window.</li>
<li>If it is not already selected, select <strong>Sources</strong>.</li>
</ul>

<p><div class="screenshot"><img src="javascript-debugging/javascript-debugging-overview.jpg"/></div></p>

<p>The <strong>Sources</strong> panel lets you see all the scripts that are part of the
inspected page. Standard controls to pause, resume, and step through code are
provided below the panel selection icons. A button to force a pause at
exceptions is located at the bottom of the window. Sources are visible in
separate tabs and clicking <img src="../images/show-file-navigator.png"/> opens the file navigator
which will display all open scripts.</p>


<h3>Execution control</h3>

<p>The <strong>execution control</strong> buttons are located at the top of the side panels and allow you to step through code. The buttons available are:</p>

<p><strong><img src="../images/continue.jpg"/> Continue:</strong> continues code execution until we encounter another breakpoint.</p>
<p><strong><img src="../images/step_over.jpg"/> Step over:</strong> step through code line-by-line to get insights into how each line affects the variables being updated. Should your code call another function, the debugger won't jump into its code, instead stepping over so that the focus remains on the current function.</p>
<p><strong><img src="../images/step_into.jpg"/> Step into:</strong> like Step over, however clicking Step into at the function call will cause the debugger to move its execution to the first line in the functions definition.</p>
<p><strong><img src="../images/step_out.jpg"/>Step out:</strong> having stepped into a function, clicking this will cause the remainder of the function definition to be run and the debugger will move its execution to the parent function.</p>
<p><strong><img src="../images/disable-breakpoints.png"/>Toggle breakpoints:</strong> toggles breakpoints on/off while leaving their enabled states intact.</p>

<p>There are also several related keyboard shortcuts available in the <strong>Sources</strong> panel:</p>

<ul>
    <li><strong>Continue</strong>: <kbd class="kbd">F8</kbd> or <kbd><kbd class="kbd">Command</kbd> + <kbd class="kbd">\</kbd></kbd> on Mac or <kbd><kbd class="kbd">Ctrl</kbd> + <kbd class="kbd">\</kbd></kbd> on other platforms.</li>
    <li><strong>Step over</strong>: <kbd class="kbd">F10</kbd> or <kbd><kbd class="kbd">Command</kbd>+<kbd class="kbd">'</kbd></kbd> on Mac or <kbd><kbd class="kbd">Ctrl</kbd>+<kbd class="kbd">'</kbd></kbd> on other platforms.</li>
    <li><strong>Step into</strong>: <kbd class="kbd">F11</kbd> or <kbd><kbd class="kbd">Command</kbd>+<kbd class="kbd">;</kbd></kbd> on Mac or <kbd><kbd class="kbd">Ctrl</kbd>+<kbd class="kbd">;</kbd></kbd> on other platforms.</li>
    <li><strong>Step out</strong>: <kbd><kbd class="kbd">Shift</kbd>+<kbd class="kbd">F11</kbd></kbd> or <kbd><kbd class="kbd">Shift</kbd>+<kbd class="kbd">Command</kbd>+<kbd class="kbd">;</kbd></kbd> on Mac or <kbd><kbd class="kbd">Shift</kbd>+<kbd class="kbd">Ctrl</kbd>+<kbd class="kbd">;</kbd></kbd> on other platforms.</li>
    <li><strong>Next call frame</strong>: <kbd><kbd class="kbd">Ctrl</kbd>+<kbd class="kbd">.</kbd></kbd> on all platforms.</li>
    <li><strong>Previous call frame</strong>: <kbd><kbd class="kbd">Ctrl</kbd>+<kbd class="kbd">,</kbd></kbd> on all platforms.</li>
</ul>


<p>For a walkthrough of other keyboard shortcuts supported, see <em><a href="shortcuts.html">Shortcuts</a></em>.</p>


</div>
<div class="collapsible">
<h2 id="breakpoints">Debugging with breakpoints</h2>

<p>A <strong>breakpoint</strong> is an <em>intentional</em> stopping or pausing place in a script. Use breakpoints in DevTools to debug JavaScript code, DOM updates, and network calls.</p>

<h3 id="add-remove-breakpoints">Add and remove breakpoints</h3>

<p>In the <b>Sources</b> panel, open a JavaScript file for debugging. In the example below, we are debugging the <b>todoCtrl.js</b> file from the <a href="http://todomvc.com/examples/angularjs/">AngularJS version of TodoMVC</a>.</p>

<div class="screenshot"><img src="javascript-debugging/sources-select-todoCtrl-js.png"/></div>

<p>Click the <b>line gutter</b> to set a breakpoint for that line of code. A blue tag will indicate if a breakpoint has been set:</p>

<div class="screenshot"><img src="javascript-debugging/sources-view-region.jpg"/></div>

<p>You can add multiple breakpoints. Click the <b>line gutter</b> of another line
to set another breakpoint. All the breakpoints you have set appear under <b>Breakpoints</b> in the right-hand
sidebar.</p>

<p>Breakpoints can be enabled or disabled using the checkboxes in this
sidebar. If a breakpoint is disabled, the blue tag will appear faded out.</p>

<p>Click on a breakpoint entry to jump to that particular line in the source file:</p>

<div class="screenshot"><img src="javascript-debugging/multiple-breakpoints-region.jpg"/></div>

<p>Remove a breakpoint by clicking the <b>blue tag</b> breakpoint indicator.</p>

<p>Right-click on the <b>blue tag</b> to access a menu with several options including: <b>Continue to Here</b>,
<b>Remove Breakpoint</b>, <b>Edit Breakpoint</b>, and <b>Disable Breakpoint</b>.</p>

<div class="screenshot"><img src="javascript-debugging/continue-to-here-region.jpg"/></div>

<p>To set a <strong>conditional breakpoint</strong>, choose <b>Edit Breakpoint</b>. Alternatively, right-click on the <b>gutter line</b> and choose <b>Add Conditional Breakpoint</b>. In the input field, type any expression that could resolve to true or false. The breakpoint will pause code execution only if
the condition is true.</p>

<div class="screenshot"><img src="javascript-debugging/conditional-breakpoint-region.jpg"/></div>

<p>Conditional breakpoints are especially useful when you're looking to analyze code in a loop or an event callback that fires often.</p>

<p class="note"><strong>Note:</strong> It may not be desirable to set breakpoints from the DevTools interface. Should you wish to launch the debugger from your code, you may use <a href="console.md#setting-breakpoints-in-javascript">the <code>debugger</code> keyword</a> to achieve this.</p>

<h3 id="breakpoints-paused">Interact with paused breakpoints</h3>

<p>Once you have one or more breakpoints set, return to the browser window and interact with your page. In the example below, a breakpoint was added within <code>removeTodo()</code>. Now any attempts to delete a todo item in the TodoMVC app will trigger a breakpoint pause:</p>

<div class="screenshot"><img src="javascript-debugging/breakpoint-paused-app.png"/></div>

<p>To resume code execution, click the <strong>Continue</strong> <img class="ui" src="../images/continue.jpg"/> button or use the <span class="kbd">F8</span> keyboard shortcut in the DevTools window.</p>

<p>While a script is paused, you can interact with the <b>Watch Expressions</b>, <b>Call Stack</b>, and <b>Scope
Variables</b> panels in the right-hand side bar.</p>

<h4 id="call-stack-panel">Call Stack panel</h4>

<p>The <b>Call Stack</b> panel displays the complete execution path that led to the point where code was paused, giving us insights into the code flaws that caused the error.</p>

<div class="screenshot"><img src="javascript-debugging/callstack-region.png"/></div>

<p>To view the execution path including asynchronous JavaScript callbacks such as timer and XHR events, check the <b>Async</b> checkbox.</p>

<div class="screenshot"><img src="javascript-debugging/enable-async-toggle.png"/></div>

<p>Further information and examples using async call stacks can be found in <a href="http://www.html5rocks.com/en/tutorials/developertools/async-call-stack/">Debugging Asynchronous JavaScript with Chrome DevTools</a> on HTML5Rocks.com.</p>

<h4 id="blackboxing">Blackbox JavaScript files</h4>

<p>When you blackbox a JavaScript source file, you will not jump into that file when stepping through code you're debugging. You are able to debug just the code you are interested in.</p>

<div class="screenshot"><img src="blackboxing-files/blackboxing-expanded.png"/></div>

<p>You can use the Settings panel to blackbox scripts, or right-click in the sources panel on a file and choose Blackbox Script from the context menu.</p>

<div class="screenshot"><img src="blackboxing-files/blackboxing-dialog.png"/></div>

<p>More information on blackboxing and how to use it can be found in the <a href="https://developer.chrome.com/devtools/docs/blackboxing">Blackboxing JavaScript files</a>.</p>

<h4 id="mini-console-panel">Console drawer</h4>

<p>The DevTools <b>console drawer</b> will allow you to experiment within the scope of where the debugger is currently paused. Hit the <span class="kbd">Esc</span> key to bring the console into view. The <span class="kbd">Esc</span> key also closes this drawer.

<div class="screenshot"><img src="javascript-debugging/console-scope-time-travel.gif"/></div>

<h3 id="breakpoints-dynamic-javascript">Breakpoints in Dynamic JavaScript</h3>

<a href="javascript-debugging/dynamicScript.js" style="display: none">
  This is used to mark dynamicScript.js as used.</a>

<script>
function loadDynamicScript() {
  var request = new XMLHttpRequest();
  request.open('GET','https://developer.chrome.com/devtools/docs/javascript-debugging/dynamicScript.js', true);
  request.send();
  request.onreadystatechange = function() {
    if (request.readyState != 4)
      return;
    eval(request.responseText);
    document.getElementById("dynamicScriptFunctionButton").disabled = false;
    document.getElementById("loadDynamicScriptButton").disabled = true;
  }
}
</script>
<ul>
<li><button id="loadDynamicScriptButton" onclick="loadDynamicScript()">Load
  dynamic script</button></li>
<li>In the <strong>Sources</strong> panel select "dynamicScript.js" from scripts drop-down and
set breakpoint on line 2</li>
  <li><button id="dynamicScriptFunctionButton" onclick=
  "dynamicScriptFunction()" disabled>Call function from dynamic
  script</button></li>
<li>You should stop on the breakpoint</li>
<li>Click the <strong>Continue</strong> <img class="ui" src="../images/continue.jpg"/> button or hit <strong>F8</strong> in DevTools window to resume</li>
</ul>

<p><div class="screenshot"><img src="javascript-debugging/dynamic-script.jpg"/></div></p>


<p><strong>Note:</strong> Notice the <code>"//# sourceURL=dynamicScript.js"</code> line at the end of
dynamicScript.js file. This technique gives a name to a script created with eval, and will be discussed in more detail in the <a href="#source-maps">Source Maps</a> section. Breakpoints can be set in dynamic JavaScript only if it has a user supplied
name.</p>


<h3 id="pause-on-next-statement">Pause on Next JavaScript Statement</h3>

<script>
document.addEventListener("mouseover", onMouseOver, true);

function onMouseOver(event) {
  var target = event.target;
  return "onMouseOver: " + target;
}
</script>
<ul>
<li>Click the <strong>Pause</strong> <img class="ui" src="../images/pause-icon.png"/> button</li>
<li>Move your mouse over this section</li>
<li>You should stop in <code>onMouseOver</code>
  function</li>
<li>Click the <strong>Continue</strong> <img class="ui" src="../images/continue.jpg"/> button or hit <strong>F8</strong> in DevTools window to resume</li>
</ul>

<p><div class="screenshot"><img src="javascript-debugging/continue-to-resume.jpg"/></div></p>



<h3>Pause on Exceptions</h3>

<script>
function raiseAndCatchException() {
  var element = document.createElement("div");
  try {
    document.body.appendChild(elemetn);
  } catch(e) {
    console.log(e);
  }
}
</script>
<ul>
<li>Click the <strong>Pause on exceptions</strong> <img class="ui" src="../images/pause-gray.png"/>button at the bottom of the window to switch to
<strong>Pause on exceptions</strong> mode</li>
<li>Check the <strong>Pause On Caught Exceptions</strong> checkbox</li>
<li><button onclick="raiseAndCatchException()">Raise
  exception!</button></li>
<li>You should stop in <span class=
  "source-code">raiseAndCatchException</span> function</li>
<li>Click the <strong>Continue</strong> <img class="ui" src="../images/continue.jpg"/> button or hit <strong>F8</strong> in DevTools window to resume</li>
</ul>

<p><div class="screenshot"><img src="javascript-debugging/append-child.jpg"/></div></p>



<h3 id="pause-on-uncaught-exceptions">Pause on Uncaught Exceptions</h3>
</h3>

<script>
function raiseAndCatchException() {
  var element = document.createElement("div");
  try {
    document.body.appendChild(elemetn);
  } catch(e) {
    console.log(e);
  }
}

function raiseException() {
  throw 0;
}
</script>
<ul>
<li>Click the <strong>Pause on exceptions</strong> <img class="ui" src="../images/pause-blue.png"/>button</li>
<li>Disable the <strong>Pause On Caught Exceptions</strong> checkbox</li>
<li><button onclick="raiseAndCatchException()">Raise
  exception!</button></li>
<li>You should not stop in raiseAndCatchException function since exception is
caught</li>
<li><button onclick="raiseException()">Raise uncaught exception!</button></li>
<li>You should stop in <code>raiseException</code> function</li>
<li>Click the <strong>Continue</strong> <img class="ui" src="../images/continue.jpg"/> button or hit <strong>F8</strong> in DevTools window to resume</li>
</ul>


<p><div class="screenshot"><img src="javascript-debugging/raise-exception.jpg"/></div></p>



</div>
<div class="collapsible">
<h2 id="breakpoints-mutation-events">Breakpoints on DOM Mutation Events</h2>

<script>
function appendChildButtonClicked() {
  var parentElement = document.getElementById("parent");
  var childElement = document.createElement("div");
  childElement.setAttribute("style",
      "border: 2px solid; padding: 5px; margin: 5px; text-align: center; width: 120px");
  childElement.textContent = "Child Element";
  parentElement.appendChild(childElement);
}
</script>
<ul>
<li>Right click on the "Parent Element" below and select <strong>Inspect Element</strong> from
context menu     <div id="parent" style="border: solid 2px; padding: 5px; margin: 5px; text-align: center; width: 140px"> Parent Element </div></li>
<li>Right click on the <strong>Elements</strong>' panel <strong><div id="parent" ...></strong> element and
select <strong>Break on Subtree Modifications</strong></li>
<li><button onclick="appendChildButtonClicked()">Append child!</button></li>
<li>You should stop on <code>appendChild</code> function call</li>
<li>Click the <strong>Continue</strong> <img class="ui" src="../images/continue.jpg"/>  button or hit <strong>F8</strong> in DevTools window to resume</li>
</ul>


<p><div class="screenshot"><img src="javascript-debugging/append-child-element.jpg"/></div></p>



</div>
<div class="collapsible">
<h2 id="breakpoints-on-xhr">Breakpoints on XHR</h2>

<a href="javascript-debugging/data.txt" style="display: none">
  This is used to mark data.txt as used.</a>

<script>
function retrieveData() {
  var request = new XMLHttpRequest();
  request.open('GET','javascript-debugging/data.txt', true);
  request.send();
}
</script>
<ul>
<li>Click the <strong>Add</strong> <img class="ui" src="../images/plus.png"/> button on <strong>XHR Breakpoints</strong> sidebar pane on the right side
of <strong>Sources</strong> panel</li>
<li>Type "data.txt" in text input and hit <strong>enter</strong></li>
<li><button onclick="retrieveData()">Retrieve data.txt by XHR</button></li>
<li>You should stop on <code>send</code> function
  call</li>
<li>Right-click on the newly created breakpoint and select <strong>Remove Breakpoint</strong>
context menu item</li>
<li>Click the <strong>Continue</strong> <img class="ui" src="../images/continue.jpg"/> button or hit <strong>F8</strong> in DevTools window to resume</li>
</ul>


<p><div class="screenshot"><img src="javascript-debugging/request-send.jpg"/></div></p>


<p><strong>Note:</strong> To edit URL filter, double click on the XHR breakpoint entry in <strong>XHR Breakpoints</strong> sidebar pane. XHR breakpoint with empty URL filter will match any
XHR.</p>


</div>
<div class="collapsible">
<h2 id="breakpoints-on-javascript-event-listeners">Breakpoints on JavaScript Event Listeners</h2>


<script>
window.addEventListener("load", onLoad, true);

function onLoad() {
  var hovermeElement = document.getElementById("hoverme");
  hovermeElement.addEventListener("mouseover", hovermeMouseOver, true);
  hovermeElement.addEventListener("mouseout", hovermeMouseOut, true);
}

function hovermeMouseOver(event) {
  event.target.style.backgroundColor = "grey";
}

function hovermeMouseOut(event) {
  event.target.style.backgroundColor = "white";
}
</script>
<ul>
<li>Expand <strong>Event Listener Breakpoints</strong> sidebar pane on the right side of
<strong>Scripts</strong> panel</li>
<li>Expand <strong>Mouse</strong> entry</li>
<li>Set a mouseout Event Listener breakpoint by clicking on the checkbox near the
<strong>mouseout</strong> entry</li>
</ul>


<p><div class="screenshot"><img src="javascript-debugging/resumed.jpg"/></div></p>

<ul>
<li>Move your mouse across the box below:</li>
<li>  <div id="hoverme" style="border: solid 2px; padding: 5px; margin: 5px; text-align: center; width: 100px">
      Hover me!
    </div></li>
<li>You should stop on <code>mouseout</code> event handler</li>
<li>Click the <strong>Continue</strong> <img class="ui" src="../images/continue.jpg"/> button or hit <strong>F8</strong> in DevTools window to resume</li>
</ul>

<p><div class="screenshot"><img src="javascript-debugging/continue-to-resume.jpg"/></div></p>


<p class="note"><b>Note: Following events are supported</b><br>
&nbsp;&nbsp;<b>Keyboard:</b> keydown, keypress, keyup, textInput<br>
&nbsp;&nbsp;<b>Mouse:</b> click, dblclick, mousedown, mouseup, mouseover,
mousemove, mouseout, mousewheel<br>
&nbsp;&nbsp;<b>Control:</b> resize, scroll, zoom, focus, blur, select,
change, submit, reset<br>
&nbsp;&nbsp;<b>Clipboard:</b> copy, cut, paste, beforecopy, beforecut,
beforepaste<br>
&nbsp;&nbsp;<b>Load:</b> load, unload, abort, error<br>
&nbsp;&nbsp;<b>DOM Mutation:</b> DOMActivate, DOMFocusIn, DOMFocusOut,
DOMAttrModified, DOMCharacterDataModified, DOMNodeInserted,
DOMNodeInsertedIntoDocument, DOMNodeRemoved, DOMNodeRemovedFromDocument,
DOMSubtreeModified, DOMContentLoaded<br>
&nbsp;&nbsp;<b>Device:</b> deviceorientation, devicemotion</p>

</div>
<div class="collapsible">
<h2 id="long-resume">The Long Resume</h2>

<p>When paused, click and hold the resume button to "Resume with all pauses blocked for 500 ms". This makes all breakpoints disabled for half a second, naturally. Use this to get to the next event loop, so you can avoid hitting breakpoints continually exiting a loop, for example.</p>

<p>Quick protip: When "refresh" is initiated from DevTools (Ctrl+R while focused in DevTools), all pauses are disabled until the new page load is commenced (or as a plan B, until the user presses the "Pause" button).  However, if you initiate refresh from the browser button (or Ctrl+R while focus is outside the DevTools), any remaining breakpoints will actually be hit. This fact could be used for those who are  interested in page unloading process.</p>

<p><div class="screenshot"><img src="javascript-debugging/long-resume.png"/></div></p>

</div>
<div class="collapsible">
<h2 id="liveedit">Live Editing</h2>

<p>In <strong>Authoring And Workflow</strong>, we discussed how to make changes to scripts in
the <strong>Sources</strong> panel. While at a breakpoint, it's also possible to live edit
scripts by clicking into the main editor panel and making modifications.</p>

<ul>
<li>Navigate to the Google Closure hovercard demo</li>
<li>In the Sources panel, open up "mouse.js" and use the Ctrl/Cmd + Shift + O to
navigate to the onMouseOut() function</li>
</ul>


<p><div class="screenshot"><img src="javascript-debugging/houseMouseOut.jpg"/></div></p>

<ul>
<li>Click the <strong>pause</strong> button to pause debugging</li>
<li>Modify the function, adding a console.log('Moused out') to the end</li>
<li>Using the Cmd +S or Ctrl + S shortcuts will save these modifications. Make
sure to Save As.</li>
<li>Click the <strong>pause/resume</strong> button to resume execution</li>
<li>When you now hover out, the new message will be logged to the console</li>
</ul>


<p><div class="screenshot"><img src="javascript-debugging/pause-resume-mouseout.jpg"/></div></p>

<p>This allows you to saved changes from within the DevTools without having to
leave your browser.</p>


</div>
<div class="collapsible">
<h2 id="exceptions">Exceptions</h2>

<p>Let's now look at how to deal with exceptions and stack traces using Chrome
DevTools.<br/>
<strong>Exception handling</strong> is the process of responding to the occurrence of
exceptions - exceptional situations that require special processing - often
changing the normal flow of your JavaScript code's execution.</p>

<p class="note"><strong>Note:</strong> If you are a Web Developer and want to get the latest version of
DevTools, you should use <a href="https://tools.google.com/dlpage/chromesxs">Chrome Canary</a>.</p>


</div>
<div class="collapsible">
<h2 id="tracking-exceptions">Tracking exceptions</h2>

<p>When something goes wrong, you can open the DevTools console (Ctrl+Shift+J /
Cmd+Option+J) and find a number of JavaScript error messages there. Each message
has a link to the file name with the line number you can navigate to.</p>

<p><div class="screenshot"><img src="javascript-debugging/tracking-exceptions.jpg"/></div></p>


<h3 id="viewing-exception-stack-trace">Viewing exception stack trace</h3>

<p>There might be several execution paths that lead to the error and it's not
always obvious which one of them has happened. <strong>Once DevTools window is
opened</strong>, exceptions in the console are accompanied with the <strong>complete
JavaScript call stacks</strong>. You can expand these console messages to see the stack
frames and navigate to the corresponding locations in the code:</p>

<p><div class="screenshot"><img src="javascript-debugging/exception-stack-trace.jpg"/></div></p>


<h3 id="pause-on-exceptions">Pause on JavaScript exceptions</h3>

<p>You may also want to pause JavaScript execution next time exception is thrown
and inspect its call stack, scope variables and state of your app. A tri-state
stop button ( <img src="../images/pause-gray.png"/> <!-- TODO: Fix alt text
and URL --> ) at the bottom of the Scripts panel enables you to switch between
different exception handling modes: you can choose to either pause on all
exception or only on the uncaught ones or you can ignore exceptions altogether.</p>

<p><div class="screenshot"><img src="javascript-debugging/pause-execution.jpg"/></div></p>


</div>
<div class="collapsible">
<h2 id="printing-stack-traces">Printing stack traces</h2>

<p>Printing log messages to the DevTools console may be very helpful in
understanding how your application behaves. You can make the log entries even
more informative by including associated stack traces. There are several ways of
doing that.</p>


<h3 id="error-stack">Error.stack</h3>

<p>Each Error object has a string property named stack that contains the stack
trace:</p>

<p><div class="screenshot"><img src="javascript-debugging/error-stack.jpg"/></div></p>


<h3 id="console-trace">console.trace()</h3>

<p>You can instrument your code with console.trace() calls that would print current
JavaScript call stacks:</p>

<p><div class="screenshot"><img src="javascript-debugging/console-trace.jpg"/></div></p>


<h3 id="console-assert">console.assert()</h3>

<p>There is also a way to place assertion in your JavaScript code. Just call
console.assert() with the error condition as the first parameter. Whenever this
expression evaluates to false you will see a corresponding console record:</p>

<p><div class="screenshot"><img src="javascript-debugging/console-assert.jpg"/></div></p>


</div>
<div class="collapsible">
<h2 id="handling-exceptions-runtime">Handling exceptions at runtime using window.onerror</h2>

<p>Chrome supports setting a handler function to window.onerror. Whenever a
JavaScript exception is thrown in the window context and is not caught by any
try/catch block, the function will be invoked with the exception's message, the
URL of the file where the exception was thrown and the line number in that file
passed as three arguments in that order. You may find it convenient to set an
error handler that would collect information about uncaught exceptions and
report it back to your server.</p>

<p><div class="screenshot"><img src="javascript-debugging/window-onerror.jpg"/></div></p>


</div>
<div class="collapsible">
<h2 id="pretty-print">Pretty Print</h2>

<p>If you have trouble trying to read and debug minified JavaScript in the
DevTools, a pretty printing option is available to make life easier. Here is how
a minified script displayed in the tools might look prior to being displayed in
the DevTools:</p>

<p><div class="screenshot"><img src="javascript-debugging/pretty-print-off.jpg"/></div></p>

<p>And by clicking on the curly brace <img src="../images/prettyprint-icon.png"/> ("Pretty Print") icon in the bottom left
corner, the JavaScript is transformed into a more human readable form. This is
also more easy for debugging and setting breakpoints.</p>

<p><div class="screenshot"><img src="javascript-debugging/pretty-print-on.jpg"/></div></p>



</div>
<div class="collapsible">
<h2 id="source-maps">Source Maps</h2>

<p>Have you ever found yourself wishing you could keep your client-side code
readable and more importantly debuggable even after you've combined and minified
it? Well now you can through the magic of <a href="https://docs.google.com/document/d/1U1RGAehQwRypUTovF1KRlpiOFze0b-_2gc6fAH0KY0k/edit?hl=en_US&amp;pli=1&amp;pli=1">source
maps</a>.</p>

<p>A source map is a JSON-based mapping format that creates a relationship
between a minified file and its sources.</p>

<p>Here's an example of a simple source map:</p>

<p>
<pre>
  {
    version : 3,
    file: "out.min.js",
    sourceRoot : "",
    sources: ["foo.js", "bar.js"],
    names: ["src", "maps", "are", "fun"],
    mappings: "AAgBC,SAAQ,CAAEA"
}
</pre>
</p>
<p>The idea is that when you build for production, along with minifying and
combining your JavaScript files, you generate a source map that holds
information about your original files. The source map causes DevTools to load
your original files in addition to your minified ones. You then use the
originals to set breakpoints and step through code. Meanwhile, Chrome is
actually running your minified code. This gives you the illusion of running a
development site in production.</p>


<h3>Using Source Maps</h3>

<p><strong>Use the Right Minifier</strong></p>

<p>You need to use a minifier that's capable of creating source maps. Closure
Compiler and UglifyJS 2.0 are two such tools but there are also tools available
that create source maps for CoffeeScript, SASS and many others. See the <a href="https://github.com/ryanseddon/source-map/wiki/Source-maps:-languages,-tools-and-other-info">Source maps: languages, tools and other info
</a> wiki page.</p>


<p><strong>Configure DevTools</strong></p>

<p>Sourcemaps are enabled by default (as of Chrome 39), but if you'd like to double-check or enable them,
first open DevTools and click the settings
cog <img src="../images/gear.png" alt="gear">. Under <strong>Sources</strong>,
check <strong>Enable  JavaScript source maps</strong>. You might also
check <strong>Enable CSS source maps</strong> but you  do not need to for this
example.</p>

<p><div class="screenshot"><img src="javascript-debugging/source-maps.png"/></div></p>


<p><strong>Make the Source Map Accessible</strong></p>

<p>To tell DevTools that a source map is available, verify the following line is at the
end of the minified file.</p>

<p><code>//# sourceMappingURL=/path/to/file.js.map</code></p>

<p>This line, usually added by whatever tool generated the map, is what enables DevTools to associate minified with unminified files.
In CSS, the line would look like <code>/*# sourceMappingURL=style.css.map */</code>.</p>

<p>
If you don't want an extra comment in your file you can use an HTTP header field
on the minified JavaScript file to tell DevTools where to find the source map.
This requires configuration or customization of your web server and is beyond
the scope of this document.</p>

<p><code>X-SourceMap: /path/to/file.js.map</code></p>

<p>Like the comment this tells DevTools where to look for the source map
associated with a JavaScript file. This header also gets around the issue of
referencing source maps in languages that don't support single-line comments.</p>

<p>You should also verify that your web server is configured to serve source maps. Some web servers, like Google App Engine for example, require explicit configuration for each file type served. In this case, your source maps should be served with a MIME type of <code>application/json</code>, but Chrome will actually <a href="http://stackoverflow.com/questions/19911929/what-mime-type-should-i-use-for-source-map-files">accept any content-type</a>, for example <code>application/octet-stream</code>.</p>

<p>Take a look at the special build of the <a href="http://dev.fontdragr.com">font dragr tool</a> in Chrome,
with source mapping enabled, and you'll notice that the JavaScript isn't
compiled and you can see all the individual JavaScript files it references. This
is using source mapping, but behind the scenes actually running the compiled
code. Any errors, logs and breakpoints will map to the dev code for awesome
debugging! So in effect it gives you the illusion that you're running a dev site
in production.</p>


<h3>@sourceURL and displayName in action</h3>

<p>While not part of the source map spec the following convention allows you to
make development much easier when working with evals.</p>

<p>This helper looks very similar to the <code>//# sourceMappingURL</code> property and is
actually mentioned in the source map V3 specifications. By including the
following special comment in your code, which will be evaled, you can name evals and inline scripts and styles
so they appear as more logical names in your dev tools.</p>

<p><code>//# sourceURL=source.coffee</code></p>

<p><strong>Working with sourceURL</strong></p>

<ul>
<li>Navigate to the
<strong><a href="http://www.thecssninja.com/demo/source_mapping/compile.html">demo</a></strong></li>
<li>Open the DevTools and go to the <strong>Sources</strong> panel.</li>
<li>Enter in a filename into the <em>Name your code:</em> input field.</li>
<li>Click on the <strong>compile</strong> button.</li>
<li>An alert will appear with the evaluated sum from the CoffeeScript source</li>
<li>If you expand the <em>Sources</em> sub-panel you will now see a new file with the
custom filename you entered earlier. If you double-click to view this file it
will contain the compiled JavaScript for our original source. On the last line
however will be a <code>// @sourceURL</code> comment indicating what the original source
file was. This can greatly help with debugging when working with language
abstractions.</li>
</ul>


<p><div class="screenshot"><img src="javascript-debugging/coffeescript.jpg"/></div></p>

<p><h4>Read more</h4></p>

<ul>
<li>Conditional breakpoints

<li><a href="http://www.randomthink.net/blog/2012/11/breakpoint-actions-in-javascript/">Breakpoint actions in
JavaScript</a></li>
</li>
<li>Working With Source Maps

<li><a href="https://www.youtube.com/watch?feature=player_embedded&amp;v=HijZNR6kc9A">The Breakpoint: Source maps
spectacular</a></li>
<li><a href="http://www.html5rocks.com/en/tutorials/developertools/sourcemaps/">HTML5 Rocks: An Introduction To JavaScript Source
maps</a></li>
<li><a href="http://net.tutsplus.com/tutorials/tools-and-tips/source-maps-101/">NetTuts: Source Maps 101</a></li>
<li><a href="https://github.com/ryanseddon/source-map/wiki/Source-maps%3A-languages%2C-tools-and-other-info">Source maps: languages, tools and other info</a></li>
<li><a href="http://www.thecssninja.com/javascript/multi-level-sourcemaps">CSS Ninja: Multi-level Source
maps</a></li>
<li><a href="http://www.coffeescriptlove.com/2012/04/source-maps-for-coffeescript.html">Source maps for
CoffeeScript</a></li>
</li>
</ul>


</div>
{{/partials.standard_devtools_article}}
