{{+bindTo:partials.standard_devtools_article}}
<p class="caution">
  <strong style="font-weight: normal; font-size: 110%; display:block;">The DevTools docs have moved!</strong>
  For the latest tutorials, docs and updates <a href="https://developers.google.com/web/tools/chrome-devtools">head over to the new home of Chrome DevTools</a>.
</p>

<h1>Profiles Panel</h1>





<p>The <b>Profiles</b> panel lets you profile the execution time and memory
usage of a web app or page. The <b>Profiles</b> panel includes two profilers:
a <b>CPU profiler</b> and a <b>Heap profiler</b>. These help you to
understand where resources are being spent, and so help you to optimize your
code:</p>

<ul>
  <li>The <b><a href="cpu-profiling.html">CPU profiler</a></b> shows where execution time is spent in your
  page's JavaScript functions.</li>

  <li>The <b><a href="heap-profiling.html">Heap profiler</a></b> shows memory distribution by your page's
  JavaScript objects and related DOM nodes.</li>

  <li>The <b>CSS Selector Profiler</b> records the aggregate time spent matching selectors to elements in the DOM tree. This time is also captured within "Style Recalculation" <a href="timeline.md">Timeline events</a>.</li>

</ul>




{{/partials.standard_devtools_article}}
